html, body, .view{
 height: 100%;
}

.carousel{
 height: 50%;
}
.carousel .carousel-inner{
 height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active{
 height: 100%;
}
@media (max-width: 776px){
 .carousel{
  height: 100%;
 }
}

.main_nav{
 background-color: #30e809;
 font-weight: bold;
}

/*carousel*/
.carousel-control-fsize{
 transform: scale(2);
}
.carousel-text{
 color: #33991e;
 text-shadow: 2px 2px 2px black;
}
/*carousel*/


.page-footer{
 background-color: #929fba;
}

.aw-font-size{
 font-size: 1.3rem;
}