html, body, .view{
 height: 100%;
}

.carousel{
 height: 50%;
}
.carousel .carousel-inner{
 height: 100%;
}
.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active{
 height: 100%;
}
@media (max-width: 776px){
 .carousel{
  height: 100%;
 }
}

/*navbar-brand*/
.navbar-brand-shadow{
 text-shadow: 2px 2px 2px black;
}
/*navbar-brand*/

/*carousel*/
.carousel-control-fsize{
 transform: scale(2);
}
.carousel-text{
 color: #29a60f;
 text-shadow: 4px 4px 3px black;
}
.carousel_title_font{
 font-family: 'Permanent Marker', cursive;
 font-size: 3rem;
}
/*carousel*/

/*main block*/
.main_nav{
 background-color: #30e809;
 font-weight: bold;
}
.text-col{
 color: #29a60f;
}
/*main block*/

/*Pagination*/
.pg-active-item{
 background-color: #30e809 !important;
 font-weight: bold;
}
/*Pagination*/


.page-footer{
 background-color: #29ad0e;
}

.aw-font-size{
 font-size: 1.3rem;
}